
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    
    
}
.Nabvar{
    width: 100%;
    height: 50px;
    background-color: rgba(245, 243, 243, 0);
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    
        
}

.img a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-family:'Playfair Display', serif;
        
            
        h1{
            color: black;
            margin-top: 10px;
            font-weight: 800;
            font-size: 25px;
            
        }
}
.Links{
    display: flex;
    margin-right: 10px;
    
    ul{
        display: flex;
       li{
        list-style: none;   
       }
    }
    a{
        
        color: black;
        margin-right:40px;
        margin-top: 12px;
        text-decoration: none;
        text-align: center;
        font-family:'Playfair Display', serif;
    }
    a:hover{
        color: red;
     
    }
}
.subMenu{
    display: block;
    flex-direction: column;
    
    li{
        list-style: none;   
   
        margin:15px 0px;
        margin-left: -40px;
        display: none;
        text-align: center;
        
        
    }
}
.trail{
    width: 100%;     
    height: 800px;   
}


.product:hover > ul > li{
    text-align: center;
    display: block;
    transition: all 1s;
  

}
.producto > ul >li{
    position:relative;
}
    
   


