.CarritoCompras{
 float: right;
}
.NumberCarrito{

    float: right;
    border: 1px solid red;
    background-color: red;
    border-radius: 13px ;
    color: white;
    font-size: 11px;
    padding: 1px;
    margin:2px 5px;
}
.carrito{
    margin-top: 3px;
}