.container{
    width: 80%;
    margin: 0 auto;
    

}

.container form{
    display: flex;
    flex-direction: column;

        label{
            color: white;
            font-size: 20px;
            text-align: center;

        }
        input{
            width: 300px;
            margin: 0 auto;
            height: 20px;
           
        }
        textarea{
            width: 350px;
            margin: 0 auto;
            margin-bottom: 40px;

        }
}

