.container{
    width: 600px;
    margin: 0 auto;
    border: 1px solid white;
    h3{
        color: white;
        font-size: 50px;
        text-align: center;
    }
    img{
          width: 400px;
          height: 500px;  
          margin-left: 90px;
    }
    p{
        text-align: center;
        color:white
    }
    Button{
        margin: 0 auto;
    }
}

